# Local Postgres DB URL
DATABASE_URL=postgresql://postgres:password@localhost:5432/calorie_tracker

# Port the Express server listens on
PORT=3000

#JWT Secret
JWT_SECRET=replace_me_with_64_random_hex_chars